<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
	<link rel="stylesheet" type="text/css"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
	<title>Eat-Da-Burger!</title>

</head>

<body style="background-color: #FFCA63;">
	{{{ body }}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src='/assets/js/burgers.js'></script>
</body>

</html>